.App {
  text-align: center;
}
.App-Header {
  text-align: center;
}
.wrapper{
  height: 50px;
  background: #323232;
  display: flex;
  align-items: center;
}
.navs{
  display: flex;
  margin: 0 auto;
} 
p{
  margin: 0 40px;
  color: white;
  cursor: pointer;
}

p:hover {
  color: rgb(128, 127, 127)
}



.allItems {
  display: flex;
  align-items: center;
  width: 1100px;
  margin: 20px auto;
}

.individualIcon {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 15px;
}

.individualIcon p {
  margin: 0;
  color: black;
  font-size: 0.8rem;
}
img {
  width: 60px;
  height: 70px;
  cursor: pointer;
  filter: brightness(10%)
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
